.ThirdSectionText{
  width: 273px;
  margin: 0 auto;
  text-align: center;
  h1{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #32B5FF;
    margin: 0;
  }
  h2{
    margin: 10px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #252160;
  }
  p{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #7B7B7B;
  }
}